.filters {
    list-style: none;
    font-size: 0.875rem;
}

.filters .type {
    display: inline-block;
    padding: 0.275rem 0.25rem;
    cursor: pointer;
    margin-right: 2rem;
    color: #8f8f8f;
    font-weight: bold;
}

.filters .type:last-child {
    margin-right: 0;
}

.filters .type.active {
    border-top: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: bold;
}

.filters .type:hover {
    border-top: 2px solid var(--primary-color);
}

.filters .type:hover {
    color: var(--primary-color);
}