.text-link{
    text-decoration: none;
}

.text-link:hover{
    text-decoration: underline;
    color: var(--hover-color);
}

.list-inline-item:not(:last-child) {
    margin-right: .7rem;
}

.list-inline-item .icon:hover{
    color: var(--hover-color);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.form-group .btn {
    line-height: 1;
}

.form-control:focus{
    border-color: #e5e230;
    box-shadow: 0 0 0 .25rem rgba(181, 165, 94, 0.298);
}