:root {
  --primary-color: #3498db;
  --hover-color: #3498db;
  --shadow-color: #EAF4FB;
}

hr { background-color: #0B1C51; height: 1px; border: 0; }


body{
  color: #4f4f4f;
  font-family: 'VIC', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #2f2f2f;
  font-weight: bold;
}

.section-title{
  position: relative;
  padding-left: 1.5rem;
}

.section-title:before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 100%;
  background: var(--primary-color);
  position: absolute;
  left: 0;
  top: 0;
}

hr {
  border-color: rgba(0, 0, 0, 0.08);
}

@media (min-width: 768px){
  .content-section{
    width: calc(100% - 250px);
    margin-left: 250px;
  }
}

.greytext{
  color: #4f4f4f;
}

a.no-text-decoration {
  text-decoration: none;
}

a{
  color: var(--primary-color);
}

.single-col-max-width{
  max-width: 820px;
}

.icon{
  color: var(--primary-color);
}

.btn{
  font-weight: bolder ;
  padding: .375rem 1rem;
  height: 2.5rem;
  font-size: 1rem;
  outline: none;
}

.btn-primary {
  color: white;
  background-color: var(--primary-color);
  border-color: #0B1C51;
  --bs-btn-hover-color: #3498db;
  --bs-btn-hover-bg: white;
  --bs-btn-hover-border-color: #0B1C51;
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

.btn-primary:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

.btn-secondary {
  color: white;
  background-color: #0B1C51;
  border-color: #0B1C51;
  --bs-btn-hover-color: #3498db;
  --bs-btn-hover-bg: white;
  --bs-btn-hover-border-color: #0B1C51;
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

.btn-secondary:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

.svg-inline{
  height: 1em;
  vertical-align: -.125em;
  overflow: visible;
  box-sizing: content-box;
  display: inline-block;
}

.svg-inline.fa-fw {
  width: var(--fa-fw-width, 1.25em);
}

.svg-inline.fa-lg {
  vertical-align: -.2em;
}

.fa-fw {
  text-align: center;
  width: 1.25em;
}

.fa-lg {
  font-size: 1.25em;
  line-height: .05em;
  vertical-align: -.075em;
}

.fa-2x {
  font-size: 2em;
}


/* IconStyles.css */
.rounded-icon {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid;
  padding: 3px;
}

.rounded-icon-svg {
  color: #16316F; /* Icon color */
  font-size: 24px; /* Adjust icon size */
}
